/* Fundo azul escuro */
body {
    background-color: #071B3B;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Centraliza tudo */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Título gigante */
h1 {
    color: #39FF14;
    font-size: 70px;
    text-align: center;
    text-shadow:
        0 0 10px #39FF14,
        0 0 20px #39FF14,
        0 0 40px #39FF14;
    margin-bottom: 20px;
}

/* Texto principal */
.principal {
    color: #39FF14;
    font-size: 40px;
    text-align: center;
    text-shadow:
        0 0 10px #39FF14,
        0 0 20px #39FF14;
    margin-bottom: 40px;
}

/* Borda neon da imagem */
.image-wrapper {
    border: 8px solid #39FF14;
    border-radius: 20px;
    padding: 15px;
    box-shadow:
        0 0 20px #39FF14,
        0 0 40px #39FF14,
        0 0 60px #39FF14;
    margin-bottom: 50px;
}

/* Imagem maior */
.image-wrapper img {
    width: 700px;
    max-width: 90%;
    display: block;
    border-radius: 15px;
}

/* Área dos textos */
.textos {
    width: 80%;
    text-align: center;
    margin-bottom: 50px;
}

/* Títulos das seções */
.textos h2 {
    color: #39FF14;
    font-size: 45px;
    text-shadow:
        0 0 10px #39FF14,
        0 0 20px #39FF14;
    margin-top: 40px;
}


.textos p {
    color: #39FF14;
    font-size: 28px;
    line-height: 1.6;
    text-shadow:
        0 0 5px #39FF14;
}/* Menu de navegação */
.menu-verde {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

/* Botões verdes neon */
.botao-verde {
    background: rgba(57, 255, 20, 0.15);
    border: 4px solid #39FF14;
    color: #39FF14;
    text-decoration: none;
    padding: 18px 30px;
    border-radius: 20px;
    font-size: 24px;
    font-weight: bold;
    box-shadow:
        0 0 15px #39FF14,
        0 0 30px #39FF14;
    transition: 0.3s;
}

.botao-verde:hover {
    transform: scale(1.1);
    background: #39FF14;
    color: #071B3B;
    box-shadow:
        0 0 25px #39FF14,
        0 0 50px #39FF14,
        0 0 80px #39FF14;
}

/* Rolagem suave */
html {
    scroll-behavior: smooth;
}