h1, h2 {
    color: rgb(51, 255, 0);
}

/* CSS para fundo azul escuro */
body {
    background-color: #0B3D91; /* azul escuro */
    color: white; /* opcional: deixa o texto branco para contraste */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh; /* garante que o fundo ocupe a tela inteira */
}